html, body, h1, p {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

/* LOGIN */
.login-container {
  width: 100%;
  height: 100vh;
  background-color: #114b33;
}

.login-card {
  text-align: center;
  width: 30%;
  height: 40vh;
  margin: 0 auto 0 auto;
  padding-top: 12%;
}

.login-form {
  background-color: white;
  padding: 10%;
}

.login-form > form > p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin: 20px 0;
}

.login-form > form > p > label {
  font: 1em "Roboto", sans-serif;
  margin-bottom: 10px;
}

.login-form > form > p > input {
  height: 24px;
  border-radius: 5px;
  padding: 8px;
  font: 0.8em "Roboto", sans-serif
}

.btn-login {
  width: 120px;
  height: 40px;
  background-color: #114b33;
  color: white;
  border: 2px solid #114b33;
  border-radius: 5px;
  margin-top: 20px;
}

/* NAVBAR */

#navbar {
    width: 100%;
    height: 12vh;
    margin: 0;
    background-color: #44b88b;
}

.nav-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 100%;
  align-items: center;
  margin-left: 20px;
}

.nav-link {
  width: 10%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.nav-link > a {
  text-decoration: none!important;
  color: white!important;
}

.logout {
  color: white;
  margin-left: 70%;
  font: 1em "Roboto", sans-serif bold;
}


/* CONTENT */

.block-content {
    padding: 0 4% 0 4%;
    margin-top: 40px;
}

.block-title {
    margin-bottom: 30px;
}

/* RUN SCRIPT TABLE */

img.modify {
  cursor: pointer;
  width: 25px;
  height: auto;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.green {
  background-color: #44b88b;
}

.red {
  background-color: #ff6160;
}

.btn-execute {
    color: white!important;
    font-size: 0.8rem!important;
    padding: 10px!important;
    background-color: #44b88b!important;
}

/* UPDATE MODAL */

.title-modal {
  margin-bottom: 30px;
}

/* SCRAPPER LOGS */

#scrapper-logs {
  margin: 50px 0 120px 0;
}

.table-logs {
  margin-top: 50px;
}

.tab-logs {
  margin-top: 40px;
}

.v-tab--active {
  color: #114b33!important;
  border-bottom: 2px solid #114b33!important;
}

.v-tab:before, .v-tabs-slider {
  border-bottom: 2px solid #114b33!important;
}

.table-files {
  margin-bottom: 100px;
}

/* FILES TABLE */

#files-table-template {
  margin-bottom: 120px;
}

.filter-actions {
  display: flex;
  justify-content: space-evenly;
}

/* PAGINATION */

.v-pagination__item.v-pagination__item--active.primary {
    background-color: #44b88b!important;
}

.v-pagination__navigation.v-pagination__navigation--disabled {
  color: #111;
}
